@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../assets/fonts/AvenirNextLTPro-Regular.eot');
    src: url('../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../assets/fonts/AvenirLTStd-Medium.eot');
    src: url('../assets/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../assets/fonts/AvenirLTStd-Medium.ttf') format('truetype'),
        url('../assets/fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../assets/fonts/AvenirLTStd-Heavy.eot');
    src: url('../assets/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../assets/fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('../assets/fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
        url('../assets/fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../assets/fonts/AvenirLTStd-Black.eot');
    src: url('../assets/fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../assets/fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../assets/fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('../assets/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




