
/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */
$white: #ffffff;

$black: #000000;

$primary: #7aa646; 

$dark: #333333;

$gray: #868686;

$dark-gray: #333333;

$border-color: #acb1b4;

$light-gray: #3b3b3b;


// FONTS

$font: 'Avenir Next LT Pro';

$title-font: 'Avenir Next LT Pro';

$bold: 700;

$semi: 600;

$medium: 500;

$regular: 400;