
/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */
$white: #ffffff;

$black: #000000;

$bg-gray: #f4f4f4;

$primary: #4D6B58;

$light-gray: #D2D0CE; 

$text: #252A2B;

$dark-gray: #333333;



// FONTS

$font: 'Montserrat', sans-serif;

$title-font: 'DM Serif Display', serif;

$bold: 700;

$semi: 600;

$medium: 500;

$regular: 400;