.eo-about{
	margin: 0;
}
.about-icon{
	height: 90px;
	width: 90px;
	margin-bottom: 30px;
	@include breakpoint(xxl){
		height: 110px;
		width: 110px;
		margin-bottom: 45px;
	}
}
.about-image{
	background-size: cover; 
	width: 360px; 
	height: 410px;
	background-position: center;
	display: none;
	@include breakpoint(md){
		display: block;
	}
	@include breakpoint(xxl){
		width: 450px;
		height: 490px;
	}
}
.about-intro{
	width: 100%;
	text-align: left;
	padding: 0 15px;
	@include breakpoint(md){
		width: calc(100% - 360px);
		padding-left: 30px;
	}
	@include breakpoint(xxl){
	    width: calc(100% - 450px);
	    padding-left: 45px;	
	}
	h3{
		color: $primary;
		margin-bottom: 25px;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
		@include breakpoint(xxl){
			font-size: 18px;
			line-height: 26px;
		}
	}
}


// category list section
.featured-category-lists{
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	margin: 0 -15px 0;
	.image{
		height: auto;
		overflow: hidden;
		@include breakpoint(lg){
			height: 220px;
		}
		@include breakpoint(xl){
			height: 360px;
		}
		@include breakpoint(lm){
			height: 410px;
		}
	}
	.featured-category-lists-item{
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include breakpoint(md){
			width: 33.33333333%;
		}
		.content{
			text-align: left;
		}
		.tag{
			display: none;
		}
		h3{
			font-size: 16px;
			text-transform: uppercase;
			line-height: 25px;
    		margin-top: 10px;
    		letter-spacing: 0.5px;
    		@include breakpoint(md){
    			font-size: 18px;
    			line-height: 35px;
    		}
		}
		.description{
			color: $gray;
			font-size: 12px;
			font-weight: $semi;
			text-transform: uppercase;
			margin-bottom: 5px;
			@include breakpoint(md){
				font-size: 15px;
				margin-bottom: 15px;
			}
		}
	}
}