.page-template-template-homepage .col-full,
.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
  width: 100%;
  padding: 0;
  max-width: 100%;
}

body{
	background-color: red;
}