.promotion-bar{
	background-color: $primary;
	color: $white;
	text-align: center;
	height: 45px;
	padding: 7px;
	// @include flexbox();
	// @include flex-wrap(wrap);
	// @include align-items(center);
	.slides{
		position: relative;
		.owl-nav{
			>div{
				position: absolute;
				top: 7px;
				height: 15px;
				width: 15px;
				text-indent: -9999px;
				z-index: 11;
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve' width='512' height='512'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734 L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8 C342.889,227.058,342.889,216.255,336.226,209.591z' data-original='%23000000' class='active-path' style='fill:%23FFFFFF' data-old_color='%23000000'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
				font-size: 24px;
				background-color: transparent;
				display: block;
				background-size: cover;
				opacity: 1;
				margin: 0;
				padding: 0;
				&:hover{
					background-color: transparent;
					opacity: 0.8;
					background: round;
				}
				&.owl-prev{
					left: 0;
					transform: rotate(180deg);
				}
				&.owl-next{
					right: 0;
				}
			}
		}
	}
}